<br>
<div class="cuadrado">
    <h1>Información</h1>
</div>

<div class="centrar">
    <div>
        <img src="../../../assets/images/informacion.png" alt="iniciosesion.png" height="300" width="300">
    </div>
</div>
<br>
<div class="centrar">
    <div class="cen">
        <h2>INFORMACION MODALIDAD</h2>
        <p class="justificar">La modalidad en línea y la modalidad presencial son dos formas en las que se puede impartir clases en una escuela.
            <br>
            Modalidad en línea:
            <br>
            Las clases se llevan a cabo a través de Internet y se utiliza la tecnología para la comunicación entre el profesor y los estudiantes.
            Los estudiantes pueden acceder a los materiales de clase y participar en actividades en línea desde cualquier lugar y en cualquier momento.
            La interacción entre estudiantes y profesores puede ser a través de chat, videoconferencia, correo electrónico, etc.
            <br>
            Modalidad presencial:
            
            Las clases se llevan a cabo en un aula física en la escuela.
            Los estudiantes y el profesor están juntos en el mismo espacio físico.
            La interacción entre estudiantes y profesores se realiza de manera directa y en tiempo real.
            Los estudiantes pueden participar en actividades prácticas y experimentales en el aula.</p>
    </div>    
</div>   
<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
