<div class="container">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="centrar">
                <div class="cuadrado">
                    <h1>Menu</h1>
                </div>
            </div>
            
            <br>
            <div class="centrar"> 
                <div>
                    <img src="../../../assets/images/calendario.png" alt="calendar.png" width="300" height="300">
                </div>
            </div>
        </div>
        <div class="col-8">
            <br>
            <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="centrar">
                        <img src="../../../assets/images/graduado.png" alt="iniciarSesion.png" width="200" height="200">
                    </div>
                    <div class="centrar">
                        <button type="button" class="btn btn-primary" (click)="estudiante()">Registro Estudiante</button>
                    </div>
                  </div>
                  <div class="col">
                    <div class="centrar">
                        <img src="../../../assets/images/prueba.png" alt="Matriculas.png" width="200" height="200">
                    </div>
                    <div class="centrar">
                        <button type="button" class="btn btn-primary" (click)="matricula()">Matriculas</button>
                    </div>
                  </div>
                  <div class="col">
                    <div class="centrar">
                        <img src="../../../assets/images/curriculum.png" alt="registro.png" width="200" height="200">
                    </div>
                    <div class="centrar">
                        <button type="button" class="btn btn-primary" (click)="docente()"> Registro Docentes</button>
                    </div>
                  </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                      <div class="col">
                        <div class="centrar">
                            <img src="../../../assets/images/libros.png" alt="calendar.png" width="200" height="200">
                        </div>
                        <div class="centrar">
                            <button type="button" class="btn btn-primary" (click)="modalidad()">Asignaturas</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="centrar">
                            <img src="../../../assets/images/horario.png" alt="calendar.png" width="200" height="200">
                        </div>
                        <div class="centrar">
                            <button type="button" class="btn btn-primary" (click)="oferta()">Horarios</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="centrar">
                            <img src="../../../assets/images/graficoCalificaciones.png" alt="calendar.png" width="200" height="200">
                        </div>
                        <div class="centrar">
                            <button type="button" class="btn btn-primary" (click)="calificaciones()">Calificaciones</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>