<br>
<div class="cuadrado">
    <h1>Información</h1>
</div>

<div class="centrar">
    <div>
        <img src="../../../assets/images/informacion.png" alt="iniciosesion.png" height="300" width="300">
    </div>
</div>
<br>
<div class="centrar">
    <div class="cen">
        <h2>INFORMACION MATRICULAS</h2>
        <p class="justificar">Los requisitos para matricular a un estudiante en nuestra escuela:
            <br>
            Pruebas de admisión: muchas escuelas requieren que los estudiantes realicen pruebas de admisión, como exámenes estandarizados o entrevistas.
            <br>
            Documentación: los estudiantes pueden tener que presentar documentos como su certificado de nacimiento, historial académico y calificaciones.
            <br>
            Inscripción y pago de la matrícula: los estudiantes pueden tener que completar un formulario de inscripción y pagar la matrícula para matricularse.
            <br>
            Vacunas: algunas escuelas requieren que los estudiantes estén vacunados contra enfermedades específicas.
            <br>
            Evaluaciones de rendimiento: algunas escuelas pueden requerir evaluaciones de rendimiento previas para determinar el nivel académico del estudiante.
            <br>
            Recomendamos verificar los requisitos específicos con la escuela o universidad en cuestión.</p>
    </div>    
</div>   
<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>