<br>
<div class="cuadrado">
    <h1>Registro</h1>
</div>
<br>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="centrar">
            <div class="cen">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="staticEmail" [(ngModel)]="docente.nombre" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Documento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="staticEmail" [(ngModel)]="docente.documento" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="staticEmail" [(ngModel)]="docente.correo" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="staticEmail" [(ngModel)]="docente.naciemiento" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Titulo</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="staticEmail" [(ngModel)]="docente.titulo" value="">
                    </div>
                </div>
                <div class="centrar">
                    <div class="centrarBoton">
                      <button type="button" class="btn btn-primary" (click)="registro()">Registrarse</button>
                    </div>
                </div>
                  
            </div>    
        </div>   
      </div>
      <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Documento</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Titulo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of docentes">
                <th scope="row">{{doc.nombre}}</th>
                <td>{{doc.documento}}</td>
                <td>{{doc.correo}}</td>
                <td>{{doc.naciemiento}}</td>
                <td>{{doc.titulo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>


<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>