<br>
<div class="cuadrado">
    <h1>Información</h1>
</div>

<div class="centrar">
    <div>
        <img src="../../../assets/images/informacion.png" alt="iniciosesion.png" height="300" width="300">
    </div>
</div>
<br>
<div class="centrar">
    <div class="cen">
        <h2>INFORMACION DEL ESTUDIANTE</h2>
        <p class="justificar">Una persona que estudia en nuestro prestigiosos y divno colegio puede lograr:
            <br>
        Adquirir habilidades académicas y conocimientos básicos en diferentes materias.
        Desarrollar habilidades sociales y emocionales al interactuar con otros estudiantes y profesores.
        Prepararse para continuar su educación en la universidad o ingresar al mundo laboral.
        Formarse como ciudadano responsable y crítico.</p>
    </div>    
</div>   
<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>