<br>
<div class="cuadrado">
    <h1>Acerca de</h1>
</div>

<div class="centrar">
    <div>
        <img src="../../../assets/images/informacion.png" alt="iniciosesion.png" height="300" width="300">
    </div>
</div>
<br>
<div class="centrar">
    <div class="cen">
        <h2>ACERCA DE</h2>
        <p class="justificar">Una aplicación hecha para la escuela puede ser una herramienta eficaz para ayudar a los estudiantes a aprender y mejorar sus habilidades. Puede incluir características como:

            <br>Acceso a materiales de estudio en línea
            <br>Organización de tareas y calendario escolar
            <br>Comunicación con profesores y compañeros
            <br>Evaluaciones y seguimiento del progreso
            <br>Recursos adicionales como videos y juegos educativos.</p>
            
    </div>    
</div>   
<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
