<br>
<div class="cuadrado">
    <h1>Información</h1>
</div>

<div class="centrar">
    <div>
        <img src="../../../assets/images/informacion.png" alt="iniciosesion.png" height="300" width="300">
    </div>
</div>
<br>
<div class="centrar">
    <div class="cen">
        <h2>INFORMACION OFERTAS</h2>
        <p class="justificar">Becas: muchas instituciones ofrecen becas para estudiantes con excelentes calificaciones o con necesidades financieras.
            <br>Descuentos por pronto pago: algunas escuelas ofrecen descuentos por pago temprano o por pago en efectivo.
            <br>Programas de financiamiento: algunas escuelas tienen programas de financiamiento que permiten a los estudiantes pagar la matrícula en cuotas.
            <br>Matrículas reducidas para estudiantes de bajos ingresos: algunas escuelas tienen programas para ayudar a los estudiantes de bajos ingresos a pagar la matrícula.
            <br>Opciones de enseñanza a distancia: los programas de enseñanza a distancia suelen ser más asequibles que los programas presenciales.
            <br>Recomendamos buscar información sobre las opciones de matrícula favorables en la escuela o universidad específica que le interese.</p>
    </div>    
</div>   
<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
