<br>
<div class="cuadrado">
    <h1>Información</h1>
</div>

<div class="centrar">
    <div>
        <img src="../../../assets/images/informacion.png" alt="iniciosesion.png" height="300" width="300">
    </div>
</div>
<br>
<div class="centrar">
    <div class="cen">
        <h2>INFORMACION DOCENTES</h2>
        <p class="justificar">Nuestros docentes cuentan:
            <br>
            Título universitario en Educación o en la materia que se desea enseñar.
            <br>
            Certificación o autorización para enseñar por parte del estado.
            <br>
            Experiencia en la enseñanza y/o prácticas de enseñanza.
            <br>
            Habilidades de comunicación y de liderazgo.
            <br>
            Conocimientos pedagógicos y de planificación de lecciones.</p>
    </div>    
</div>   
<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
